{%extends 'base.html'%}
{% load static %}


{%block content%}



<br/>
<br/>
<br/>
<br/>
<style>
    #final_price{
        display: flex;
        justify-content: space-around;
    }
    #buy_btn{
        background:green;
        color:white;
        padding:8px 15px;
        border-radius:5px;
        text-decoration:none;
        display:inline-block;

    }
    #buy_btn:hover{
        background:darkgreen;
    }

</style>

{% if cart_items %}

<h1 class="cart-heading">My Cart</h1>

<table id="cart_table">
    <tr>
        <th>Image</th>
        <th>Plant</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
    </tr>

    {% for item in cart_items %}
    <tr>
        <td>
            <img class="cart-image" src="{{ item.product.image.url }}">
        </td>
        <td>{{ item.product.title }}</td>
        <td>₹{{ item.product.price }}</td>
        <td>
            <a href="{% url 'decrease_quantity' item.id %}" class="btn btn-danger">−</a>

            <span>{{ item.quantity }}</span>

            <a href="{% url 'increase_quantity' item.id %}" class="btn btn-success">+</a>
        </td>
        <td>₹{{ item.subtotal }}</td>
        <td>
            <a href="{% url 'remove_from_cart' item.id %}" class="remove-btn">
            Remove
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<span id="final_price">
    <h3>Total: ₹{{ total }}</h3>
    <button id="buy_btn" onclick="buy_now()">Buy Now</button>
</span>
<br/>
<br/>
{% else %}

<div class="empty">
    Your cart is empty.
</div>
<br/>
<br/>
<br/>
{% endif %}
<script>
    function buy_now(){
        alert("Order placed successfully! (Demo Project)");
    }
</script>

{%endblock%}