
{%extends 'base.html'%}
{% load static %}
    <!--image-->
{%block content%}

    <section id="contactcontainer">
        <h1>#Contact Us</h1>
    </section>
    <section id="about1">
        <img src="{% static 'logo_img/content_images/locationimg.png'%}" alt="image">
        <div>
            <h3>Visit our location or contact us today</h3>
            <div>
                <b>Contact Info</b>
                <div><i class="fa-solid fa-phone" style="color: green;"></i> +123-456-7890</div>
                <div><i class="fa-solid fa-phone" style="color: green;"></i> +111-222-3333</div>
                <div><i class="fa-solid fa-envelope" style="color: green;"></i> leafyhome123@gmail.com</div>
                <div><i class="fa-solid fa-location-dot" style="color: green;"></i> Hyderabad,India-400104</div>
            </div>
        </div>
    </section>    
    <!--footer-->
    
{%endblock%}